<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">


    <!-- loading -->
    <app-loading [bandera]="productosService.cargando" ></app-loading>



    <ng-container *ngIf="!productosService.cargando">

      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <!-- ngFor de proyectos:  -->
        <ng-container *ngFor="let producto of productosService.productoFiltrado">           
          <a [routerLink]="['/item', producto.cod]" class="animate__animated animate__fadeIn  rk-item ae-masonry__item">
            <img src="assets/productos/{{producto.url}}.jpg" alt="">
            <div class="item-meta">
              <h2>{{producto.titulo}}</h2>
              <p>{{producto.categoria}}</p>
            </div>
          </a>
        </ng-container>       
  
      </div>

    </ng-container>
    
   
  </section>